<h1>Learn This Course</h1>
<div class="card bg-dark text-white mt-4" style="width: 60%">
  <img class="card-img" src="{{course.img}}" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">{{course.name}}</h5>
    <p class="card-text">{{course.description}}</p>
  </div>
</div>