<form method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1" class="font-weight-bold">Search</label>
    <input type="text" name="course" class="form-control col-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter value...">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>